<app-header></app-header>
<div class="container">
  <!-- <input type="text" (input)="$event.target.value.length > 5 && filter($event.target.value)" (change)="filterInput" [(ngModel)]="filterInput"> -->

  <div class="row">
    <div class="col">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Search by name</mat-label>
          <input matInput (input)="filter()" (change)="filterInput" [(ngModel)]="filterInput" placeholder="">
          <mat-icon matSuffix>search</mat-icon>
          <mat-hint>Hint: Pikachu</mat-hint>
        </mat-form-field>
      </p>
    </div>
    <div class="col" *ngIf="!filterInput || filterInput === ''">
      <mat-paginator #paginator [length]="pokemonList.length" [pageSize]="page_size"
        [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)">
      </mat-paginator>
    </div>
  </div>

  <div class="d-flex justify-content-center mb-3">
    <select class="form-select" mat-input (change)="changeGen()" [(ngModel)]="generationUrl">
      <option [ngValue]="option" *ngFor="let option of genOptions">{{option.gen}}</option>
    </select>
  </div>
  <div *ngIf="loadingIcon === true" class="d-flex justify-content-center">
    <img  class="loading-icon" src="../../assets/images/dayo3ow-7ac86c31-8b2b-4810-89f2-e6134caf1f2d.gif" alt="asdf">
  </div>

  <app-table *ngIf="(filteredList.length) || filterInput != '' " [pokemonList]="filteredList"></app-table>

  <app-table *ngIf="(!filterInput || filterInput === '')"
    [pokemonList]="pokemonList | paginate:page_size:page_number">
  </app-table>

</div>
<app-footer></app-footer>