<app-header></app-header>
<div class="container">
  <!-- <input type="text" (input)="$event.target.value.length > 5 && filter($event.target.value)" (change)="filterInput" [(ngModel)]="filterInput"> -->

  <div class="row">
    <div class="col">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Search by name</mat-label>
          <input matInput (input)="filter()" (change)="filterInput" [(ngModel)]="filterInput" placeholder="">
          <mat-icon matSuffix>search</mat-icon>
          <mat-hint>Hint: Pikachu</mat-hint>
        </mat-form-field>
      </p>
    </div>
    <div class="col" *ngIf="!filterInput || filterInput === ''">
      <mat-paginator #paginator [length]="pokemonList.length" [pageSize]="page_size"
        [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)">
      </mat-paginator>
    </div>
  </div>

  <div class="d-flex justify-content-center mb-3">
    <select class="form-select" mat-input (change)="changeGen()" [(ngModel)]="generationUrl">
      <option [ngValue]="option" *ngFor="let option of genOptions">{{option.gen}}</option>
    </select>
  </div>
  <div *ngIf="loadingIcon === true" class="d-flex justify-content-center">
    <img  class="loading-icon" src="../../assets/images/dayo3ow-7ac86c31-8b2b-4810-89f2-e6134caf1f2d.gif" alt="asdf">
  </div>

  <app-table *ngIf="(filteredList.length) && filterInput != '' " [pokemonList]="filteredList"></app-table>

  <!-- <div class="row" *ngIf="filteredList.length"> 
  <div class="col-12 col-md-3 d-flex card-border justify-content-center" *ngFor="let pokemon of filteredList">
    <a [routerLink]="['/pokemon/', pokemon.id]">
      <div class="card">
        <div class="card-header text-center">
          <h4>#{{pokemon.id}} {{pokemon.name}}</h4>
          <img [src]="pokemon.sprites.front_default" class="card-img-top sprite-img">
          <img [src]="pokemon.sprites.back_default" class="card-img-top sprite-img">
        </div>
        <div class="card-img d-flex justify-content-center">
          <img [src]="pokemon.sprites.other['official-artwork'].front_default" class="card-img-top main-image">
        </div>
        <div class="card-body d-flex justify-content-center">
          <div class="type-badge" 
          [ngClass]="{'bg-normal': type.type.name==='normal', 'bg-fire': type.type.name==='fire',
          'bg-water': type.type.name==='water', 'bg-grass': type.type.name==='grass', 
          'bg-electric': type.type.name==='electric', 'bg-steel': type.type.name==='steel', 
          'bg-ice': type.type.name==='ice', 'bg-fighting': type.type.name==='fighting', 
          'bg-poison': type.type.name==='poison', 'bg-fairy': type.type.name==='fairy', 
          'bg-ground': type.type.name==='ground', 'bg-flying': type.type.name==='flying', 
          'bg-psychic': type.type.name==='psychic', 'bg-bug': type.type.name==='bug', 
          'bg-rock': type.type.name==='rock', 'bg-ghost': type.type.name==='ghost', 
          'bg-dark': type.type.name==='dark', 'bg-dragon': type.type.name==='dragon'}" 
          
          *ngFor="let type of pokemon.types">
            {{type.type.name}}
          </div>
        </div>
      </div>
    </a>
  </div>
</div> -->

  <app-table *ngIf="(!filterInput || filterInput === '')"
    [pokemonList]="pokemonList | paginate:page_size:page_number">
  </app-table>

  <!-- <div class="row" *ngIf="!filteredList.length && (!filterInput || filterInput === '')"> 
    <div class="col-12 col-md-3 d-flex card-border justify-content-center" *ngFor="let pokemon of pokemonList | paginate:page_size:page_number">
      <a [routerLink]="['/pokemon/', pokemon.id]">
        <div class="card">
          <div class="card-header text-center">
            <h4>#{{pokemon.id}} {{pokemon.name}}</h4>
            <img [src]="pokemon.sprites.front_default" class="card-img-top sprite-img">
            <img [src]="pokemon.sprites.back_default" class="card-img-top sprite-img">
          </div>
          <div class="card-img d-flex justify-content-center">
            <img [src]="pokemon.sprites.other['official-artwork'].front_default" class="card-img-top main-image">
          </div>
          <div class="card-body d-flex justify-content-center">
            <div class="type-badge" 
            [ngClass]="{'bg-normal': type.type.name==='normal', 'bg-fire': type.type.name==='fire',
            'bg-water': type.type.name==='water', 'bg-grass': type.type.name==='grass', 
            'bg-electric': type.type.name==='electric', 'bg-steel': type.type.name==='steel', 
            'bg-ice': type.type.name==='ice', 'bg-fighting': type.type.name==='fighting', 
            'bg-poison': type.type.name==='poison', 'bg-fairy': type.type.name==='fairy', 
            'bg-ground': type.type.name==='ground', 'bg-flying': type.type.name==='flying', 
            'bg-psychic': type.type.name==='psychic', 'bg-bug': type.type.name==='bug', 
            'bg-rock': type.type.name==='rock', 'bg-ghost': type.type.name==='ghost', 
            'bg-dark': type.type.name==='dark', 'bg-dragon': type.type.name==='dragon'}" 
            
            *ngFor="let type of pokemon.types">
              {{type.type.name}}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div> -->

</div>
<app-footer></app-footer>